<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Create user</h1>
    <form>
        <label for="name">User Name</label>
        <input name="name" type="text" placeholder="Name">
        <label for="age">Age</label>
        <input name="age" type="number" placeholder="Age">
        <label for="email">Email</label>
        <input name="email" type="email" placeholder="Email">
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="Password">
        <button>Create user</button>
    </form>
    <script src="/js/createUser.js"></script>
</body>

</html>